body{
    background-color: rgb(102, 62, 62);
    color:beige;
    font-family: 'Times New Roman', Times, serif;
}

#titulo-galeria{
    letter-spacing: 3px;
    border-bottom: 5px gray;
    padding-bottom: 10px;
}

.ficha{
    background-color: black;
    padding: 20px;
    color:beige;
    margin-top: 10px;
    border-radius: 10px;
    height: 100%;/*Se cambiaron los tamaños fijos. Para que el grid lo organizara solo*/
    width: 100%;/*Tambien se quitó el padding interno*/
}

.nombre{
    color:goldenrod;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.clase{
    color: lightgray;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.stats{
    list-style: none;
    padding-inline: 4px;
    display: /*grid*/flex;
    /*grid-template-columns: repeat(3, 1fr)*/
    gap: 25px;
    justify-content: space-between ;
    align-items: center;
}

.vida{
    color:blueviolet;
    font-weight: bold;
    text-align: center;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:burlywood
}



[data-tipo="villano"]{
    border-left: 5px solid red;
}

[data-tipo="heroe"]{
    border-left: 5px solid cyan;
}
/*SE BORRÓ LA CLASE .F QUE MANTENÍA EL ANCHO DE LA IMAGEN
.f{
    width: 400px;
}

*/

.redes-pagina p{
    font-style: italic;
}

.redes-pagina > p{
    background-color: rgb(93, 54, 9);
    padding: 8px 12px;
    border-radius: 8px;
}
h3 + p {
      margin-top: 16px;
      border-top: 2px solid cornsilk;
      padding-top: 12px;
}
h3 ~ p {
      color: #d4a537;
      font-weight: bold;
    }

.resaltado{
    border: 5px solid gold;
}
.borde-redondeado{
    border-radius: 12px;
}
/*
.row > *{
    border: 1px solid black
}*/

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.navbar-brand{
    background-color: brown;
    color:antiquewhite;

}
.navbar-toggler{
    background-color: brown;
    color:antiquewhite;

}
.nav-link{
    color:azure;
    display:flex;
    justify-content: center;

}
.nav-link:hover{
    color:maroon;
    display:flex;
    justify-content: center;
}

.carousel-caption h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;                       
    color: azure;                        
    text-transform: uppercase;  
    background-color: maroon;
}

.carousel-caption p {
    font-family: 'Times new Roman',Times, serif ;       
    font-size: 25px;                     
    color: #FFFFFF;                       
    font-weight: bold;
}

.carousel-indicators button{
    color: burlywood;
}
.carousel-control-prev:hover{
    color: azure;
    background-color: maroon;
}
.carousel-control-next:hover{
    color: azure;
    background-color: maroon;
}